<div class="container py-5">
    <div  class="col-md-8"  >
        <div  class="product-detail d-flex">
            <img class=" w-100" src="{{productDetailsa.image}}">
            <div>
                <h2 class="product-name">{{productId}}</h2>
                <p class="product-description">{{productDetailsa.title}} </p>
                <div class="product-actions d-flex">
                        <button class="btn btn-danger px-1">-</button>
                        <input type="text">
                        <button class="btn btn-danger px-1">+</button>
                </div>
              
            </div>
        </div>
    </div>
</div>